@import "tailwindcss";

@theme {
  --color-gergina-100: #fffaf1;
  --color-gergina-200: #fef3c7;
  --color-gergina-300: #fde68a;
  --color-gergina-400: #fcd34d;
  --color-gergina-500: #fbbf24;
  --color-gergina-600: #f59e0b;
  --color-gergina-700: #d97706;
  --color-gergina-800: #b45309;
  --color-gergina-900: #92400e;
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-amber-900;
  }
  h2 {
    font-weight: bold;
    @apply text-gergina-200 hover:text-gergina-500 sm:text-[1rem] md:text-[1.5rem] md:text-gergina-600 lg:text-[2rem] xl:text-[2.4rem];
  }
  h3 {
    @apply text-2xl font-bold text-amber-900;
  }
}
@layer components {
  
}
@utilities {
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fffaf1;
  --bg-card-color: #fef3c7;
  --text-color: #3f3f46;
  --title-color: #92400e;
  --link-color: #b45309;
}
body {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color);
  background: radial-gradient(
    circle at center,
    #fde68a 10%,
    #fef3c7 40%,
    #fde68a 80%
  );
  color: var(--text-color);
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--title-color);
}
a:hover {
  text-decoration: underline;
}
/* h1 {
  color: var(--title-color);
  text-align: center;
  font-size: 2.4rem;
} */
p {
  color: var(--text-color);
}
hr {
  background-color: var(--title-color);
  height: 1px;
  border: none;
  margin: 0.4rem 0 0.8rem 0;
}
label {
  font-weight: bolder;
  border-bottom: 1px solid var(--title-color);
}
input[type="text"] {
  font-size: 1.2rem;
  background-color: white;
  height: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
  color: var(--title-color);
  padding: 0.4rem;
}
select {
  width: 100%;
  font-size: 1.2rem;
  height: 2.4rem;
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
  color: var(--title-color);
  padding: 0.4rem;
  background-color: white;
}
textarea {
  font-size: 1.2rem;
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
  color: var(--title-color);
  padding: 0.4rem;
  height: 12rem;
  background-color: white;
}
button,
.button {
  min-width: 100px;
  max-width: 200px;
  font-size: 1.2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
  color: var(--title-color);
  padding: 0.4rem;
  cursor: pointer;
  background-color: var(--bg-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
}
header ul {
  list-style: none;
  display: flex;
  gap: 1rem;

  > li {
    font-weight: bolder;
    cursor: pointer;
  }
}
main {
  padding: 0.8rem;
  background-color: #fffaf14f;
  min-height: 50vh;
}
section {
  min-width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer {
  text-align: center;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
