.home-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.buscador-section {
background-color: var(--title-color);
padding: 1rem;
color: var(--bg-color);
}
#buscador {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}